.uploader-cont {
    text-align: center;
}

.glossary-dropzone {
    padding: 20px 0 10px 0;
    border-radius: 20px;
}

.active-dropzone {
    background-color: #cde5f6;
}

.file-rejected {
    background: #faa;
}

.glossary-upload-status {
    text-align: left;
}